body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex: 1;
  padding: 20px;
}

.input-area {
  display: flex;
  padding: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
}